[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "AIBias"]
	path = AIBias
	url = https://github.com/causalfragility-lab/aibias
[submodule "CausalSpline"]
	path = CausalSpline
	url = https://github.com/causalfragility-lab/causalspline
[submodule "MultiSpline"]
	path = MultiSpline
	url = https://github.com/causalfragility-lab/multispline
[submodule "achieveGap"]
	path = achieveGap
	url = https://github.com/causalfragility-lab/achievegap
[submodule "confoundvis"]
	path = confoundvis
	url = https://github.com/causalfragility-lab/confoundvis
[submodule "decisionpaths"]
	path = decisionpaths
	url = https://github.com/causalfragility-lab/decisionpaths
[submodule "metaLong"]
	path = metaLong
	url = https://github.com/causalfragility-lab/metalong
[submodule "mlmoderator"]
	path = mlmoderator
	url = https://github.com/causalfragility-lab/mlmoderator
