[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CausalSpline"]
	path = CausalSpline
	url = https://github.com/causalfragility-lab/causalspline
[submodule "MultiSpline"]
	path = MultiSpline
	url = https://github.com/causalfragility-lab/multispline
[submodule "achieveGap"]
	path = achieveGap
	url = https://github.com/causalfragility-lab/achievegap
[submodule "decisionpaths"]
	path = decisionpaths
	url = https://github.com/causalfragility-lab/decisionpaths
